<configuration>
  <appender name="JSON" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
      <providers>
        <timestamp>
          <timeZone>UTC</timeZone>
          <fieldName>@timestamp</fieldName>
        </timestamp>
        <pattern>
          <pattern>
            {
              "level":"%level",
              "logger":"%logger{36}",
              "thread":"%thread",
              "traceId":"%X{requestId}",
              "message":"%replace(%msg){'(?i)\\b(bearer\\s+[A-Za-z0-9._-]+|x-telegram-bot-api-secret-token:[^,\\s]+|initData=[^&\\s]+|token=[A-Za-z0-9:_-]{20,})','***'}",
              "exception":"%replace(%ex){'\\r\\n','  '}"
            }
          </pattern>
        </pattern>
        <mdc/>
      </providers>
    </encoder>
  </appender>

  <appender name="SENTRY" class="io.sentry.logback.SentryAppender">
    <enabled>true</enabled>
    <minimumEventLevel>ERROR</minimumEventLevel>
    <minimumBreadcrumbLevel>WARN</minimumBreadcrumbLevel>
  </appender>

  <logger name="io.micrometer" level="WARN"/>
  <logger name="org.flywaydb" level="INFO"/>

  <root level="INFO">
    <appender-ref ref="JSON"/>
    <appender-ref ref="SENTRY"/>
  </root>
</configuration>
